@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic,800,800italic");

// Fonts
$openSans: "Open Sans", sans-serif;

// Colors
$primary: #ffffff;
$accent: #2e3134;
$title: #34383c;
$mediabg: #f4f5f7;
$btn: #0069d2;

$mobile: 500px;
